In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
dataset = pd.read_csv('Churn_Modeling.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:,13].values

In [3]:
classes = list(y)
for index, item in enumerate(classes):
    if (item == 0):
        classes[index] = 'No'
    else:
        classes[index] = 'Yes'

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
dataset.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
dataset.shape

(10000, 14)

In [7]:
X[:,1]

array(['France', 'Spain', 'France', ..., 'France', 'Germany', 'France'],
      dtype=object)

In [8]:
X[:,2]

array(['Female', 'Female', 'Female', ..., 'Female', 'Male', 'Female'],
      dtype=object)

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
labelencoder_X_1 = LabelEncoder()
X[:,1] = labelencoder_X_1.fit_transform(X[:,1])
labelencoder_X_2 = LabelEncoder()
X[:,2] = labelencoder_X_2.fit_transform(X[:,2])

In [10]:
X[:,1]

array([0, 2, 0, ..., 0, 1, 0], dtype=object)

In [11]:
X[:,2]

array([0, 0, 0, ..., 0, 1, 0], dtype=object)

In [12]:
pd.DataFrame(X).head()

     0  1  2   3  4        5  6  7  8        9
0  619  0  0  42  2        0  1  1  1   101349
1  608  2  0  41  1  83807.9  1  0  1   112543
2  502  0  0  42  8   159661  3  1  0   113932
3  699  0  0  39  1        0  2  0  0  93826.6
4  850  2  0  43  2   125511  1  1  1  79084.1

In [13]:
onehotencoder = OneHotEncoder(categorical_features=[1])
X = onehotencoder.fit_transform(X).toarray()

In [14]:
pd.DataFrame(X).head()

    0    1    2      3    4     5    6          7    8    9    10         11
0  1.0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  1.0  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  1.0  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

In [15]:
X.shape

(10000, 12)

In [16]:
X = X[:, 1:]

In [17]:
X.shape

(10000, 11)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [19]:
[X_train.shape, y_train.shape, X_test.shape, y_test.shape]

[(8000, 11), (8000,), (2000, 11), (2000,)]

In [20]:
pd.DataFrame(X_train).head()

    0    1      2    3     4    5          6    7    8    9          10
0  0.0  1.0  667.0  0.0  34.0  5.0       0.00  2.0  1.0  0.0  163830.64
1  1.0  0.0  427.0  1.0  42.0  1.0   75681.52  1.0  1.0  1.0   57098.00
2  0.0  0.0  535.0  0.0  29.0  2.0  112367.34  1.0  1.0  0.0  185630.76
3  0.0  1.0  654.0  1.0  40.0  5.0  105683.63  1.0  1.0  0.0  173617.09
4  0.0  1.0  850.0  0.0  57.0  8.0  126776.30  2.0  1.0  1.0  132298.49

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [22]:
pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.569844,1.743090,0.169582,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432
1,1.754865,-0.573694,-2.304559,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664
2,-0.569844,-0.573694,-1.191196,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335
3,-0.569844,1.743090,0.035566,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528
4,-0.569844,1.743090,2.056114,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378

In [23]:
import keras
from keras.models import Sequential 
from keras.layers import Dense
from keras.layers import Dropout

C:\Users\Usmon\Anaconda3\envs\tensorflow-gpu\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [24]:
classifier = Sequential()
classifier.add(Dense(6, activation = 'relu', kernel_initializer='glorot_uniform', input_dim = 11))
classifier.add(Dense(6, activation = 'relu', kernel_initializer='glorot_uniform'))
classifier.add(Dense(1, activation = 'sigmoid', kernel_initializer='glorot_uniform'))
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

classifier.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [25]:
history = classifier.fit(X_train, y_train, batch_size = 10, epochs = 100, validation_data=(X_test, y_test))

Train on 8000 samples, validate on 2000 samples
Epoch 1/100
8000/8000 [==============================] - 3s 386us/step - loss: 0.5052 - acc: 0.7952 - val_loss: 0.4509 - val_acc: 0.7985
Epoch 2/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.4410 - acc: 0.7994 - val_loss: 0.4384 - val_acc: 0.8010
Epoch 3/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.4302 - acc: 0.8044 - val_loss: 0.4306 - val_acc: 0.8040
Epoch 4/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.4214 - acc: 0.8040 - val_loss: 0.4226 - val_acc: 0.8075
Epoch 5/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.4122 - acc: 0.8084 - val_loss: 0.4106 - val_acc: 0.8130
Epoch 6/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3991 - acc: 0.8199 - val_loss: 0.3939 - val_acc: 0.8290
Epoch 7/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.3812 - acc: 0.8379 - val_loss: 0.3741 - val_acc: 0.8420
Epoch 8/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.3659 - acc: 0.8477 - val_loss: 0.3541 - val_acc: 0.8585
Epoch 9/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3552 - acc: 0.8564 - val_loss: 0.3449 - val_acc: 0.8550
Epoch 10/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3497 - acc: 0.8570 - val_loss: 0.3389 - val_acc: 0.8585
Epoch 11/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3469 - acc: 0.8559 - val_loss: 0.3380 - val_acc: 0.8570
Epoch 12/100
8000/8000 [==============================] - 1s 158us/step - loss: 0.3452 - acc: 0.8595 - val_loss: 0.3377 - val_acc: 0.8565
Epoch 13/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3443 - acc: 0.8587 - val_loss: 0.3360 - val_acc: 0.8600
Epoch 14/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3433 - acc: 0.8597 - val_loss: 0.3341 - val_acc: 0.8605
Epoch 15/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3425 - acc: 0.8601 - val_loss: 0.3350 - val_acc: 0.8585
Epoch 16/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.3420 - acc: 0.8576 - val_loss: 0.3376 - val_acc: 0.8565
Epoch 17/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.3412 - acc: 0.8601 - val_loss: 0.3354 - val_acc: 0.8555
Epoch 18/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3410 - acc: 0.8590 - val_loss: 0.3373 - val_acc: 0.8555
Epoch 19/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3410 - acc: 0.8594 - val_loss: 0.3349 - val_acc: 0.8575
Epoch 20/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.3401 - acc: 0.8605 - val_loss: 0.3319 - val_acc: 0.8590
Epoch 21/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3401 - acc: 0.8614 - val_loss: 0.3329 - val_acc: 0.8595
Epoch 22/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.3394 - acc: 0.8605 - val_loss: 0.3328 - val_acc: 0.8565
Epoch 23/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.3389 - acc: 0.8604 - val_loss: 0.3315 - val_acc: 0.8580
Epoch 24/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.3388 - acc: 0.8625 - val_loss: 0.3333 - val_acc: 0.8560
Epoch 25/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.3385 - acc: 0.8617 - val_loss: 0.3320 - val_acc: 0.8570
Epoch 26/100
8000/8000 [==============================] - 1s 171us/step - loss: 0.3385 - acc: 0.8632 - val_loss: 0.3315 - val_acc: 0.8590
Epoch 27/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3378 - acc: 0.8625 - val_loss: 0.3310 - val_acc: 0.8590
Epoch 28/100
8000/8000 [==============================] - 1s 171us/step - loss: 0.3380 - acc: 0.8599 - val_loss: 0.3305 - val_acc: 0.8575
Epoch 29/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.3375 - acc: 0.8609 - val_loss: 0.3330 - val_acc: 0.8565
Epoch 30/100
8000/8000 [==============================] - 1s 171us/step - loss: 0.3375 - acc: 0.8635 - val_loss: 0.3304 - val_acc: 0.8600
Epoch 31/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3372 - acc: 0.8644 - val_loss: 0.3297 - val_acc: 0.8590
Epoch 32/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.3364 - acc: 0.8601 - val_loss: 0.3301 - val_acc: 0.8565
Epoch 33/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.3364 - acc: 0.8624 - val_loss: 0.3299 - val_acc: 0.8610
Epoch 34/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.3368 - acc: 0.8622 - val_loss: 0.3297 - val_acc: 0.8630
Epoch 35/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.3361 - acc: 0.8626 - val_loss: 0.3285 - val_acc: 0.8600
Epoch 36/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3354 - acc: 0.8644 - val_loss: 0.3280 - val_acc: 0.8635
Epoch 37/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.3361 - acc: 0.8605 - val_loss: 0.3301 - val_acc: 0.8565
Epoch 38/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.3357 - acc: 0.8614 - val_loss: 0.3339 - val_acc: 0.8550
Epoch 39/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3355 - acc: 0.8624 - val_loss: 0.3337 - val_acc: 0.8560
Epoch 40/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3356 - acc: 0.8639 - val_loss: 0.3308 - val_acc: 0.8630
Epoch 41/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3352 - acc: 0.8631 - val_loss: 0.3294 - val_acc: 0.8670
Epoch 42/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3347 - acc: 0.8627 - val_loss: 0.3302 - val_acc: 0.8610
Epoch 43/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3345 - acc: 0.8629 - val_loss: 0.3334 - val_acc: 0.8625
Epoch 44/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3341 - acc: 0.8637 - val_loss: 0.3294 - val_acc: 0.8660
Epoch 45/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3344 - acc: 0.8640 - val_loss: 0.3336 - val_acc: 0.8595
Epoch 46/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3337 - acc: 0.8626 - val_loss: 0.3352 - val_acc: 0.8595
Epoch 47/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3338 - acc: 0.8636 - val_loss: 0.3297 - val_acc: 0.8670
Epoch 48/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3339 - acc: 0.8622 - val_loss: 0.3295 - val_acc: 0.8610
Epoch 49/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3336 - acc: 0.8620 - val_loss: 0.3308 - val_acc: 0.8620
Epoch 50/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3337 - acc: 0.8626 - val_loss: 0.3327 - val_acc: 0.8660
Epoch 51/100
8000/8000 [==============================] - 1s 158us/step - loss: 0.3334 - acc: 0.8635 - val_loss: 0.3303 - val_acc: 0.8645
Epoch 52/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3337 - acc: 0.8622 - val_loss: 0.3339 - val_acc: 0.8645
Epoch 53/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3331 - acc: 0.8625 - val_loss: 0.3296 - val_acc: 0.8685
Epoch 54/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.3332 - acc: 0.8622 - val_loss: 0.3298 - val_acc: 0.8650
Epoch 55/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3330 - acc: 0.8626 - val_loss: 0.3322 - val_acc: 0.8610
Epoch 56/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3328 - acc: 0.8614 - val_loss: 0.3289 - val_acc: 0.8655
Epoch 57/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3329 - acc: 0.8625 - val_loss: 0.3292 - val_acc: 0.8670
Epoch 58/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3320 - acc: 0.8614 - val_loss: 0.3304 - val_acc: 0.8670
Epoch 59/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3329 - acc: 0.8625 - val_loss: 0.3349 - val_acc: 0.8625
Epoch 60/100

8000/8000 [==============================] - 1s 171us/step - loss: 0.3325 - acc: 0.8641 - val_loss: 0.3319 - val_acc: 0.8605
Epoch 61/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3323 - acc: 0.8636 - val_loss: 0.3297 - val_acc: 0.8660
Epoch 62/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.3326 - acc: 0.8630 - val_loss: 0.3329 - val_acc: 0.8635
Epoch 63/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3317 - acc: 0.8635 - val_loss: 0.3314 - val_acc: 0.8625
Epoch 64/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3321 - acc: 0.8636 - val_loss: 0.3326 - val_acc: 0.8665
Epoch 65/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3326 - acc: 0.8620 - val_loss: 0.3309 - val_acc: 0.8650
Epoch 66/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3322 - acc: 0.8644 - val_loss: 0.3317 - val_acc: 0.8645
Epoch 67/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.3321 - acc: 0.8624 - val_loss: 0.3295 - val_acc: 0.8625
Epoch 68/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3319 - acc: 0.8631 - val_loss: 0.3338 - val_acc: 0.8625
Epoch 69/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3322 - acc: 0.8629 - val_loss: 0.3324 - val_acc: 0.8630
Epoch 70/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.3319 - acc: 0.8641 - val_loss: 0.3334 - val_acc: 0.8645
Epoch 71/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.3320 - acc: 0.8644 - val_loss: 0.3344 - val_acc: 0.8625
Epoch 72/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3316 - acc: 0.8635 - val_loss: 0.3325 - val_acc: 0.8670
Epoch 73/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3320 - acc: 0.8639 - val_loss: 0.3321 - val_acc: 0.8645
Epoch 74/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3317 - acc: 0.8631 - val_loss: 0.3331 - val_acc: 0.8615
Epoch 75/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3314 - acc: 0.8630 - val_loss: 0.3341 - val_acc: 0.8605
Epoch 76/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.3318 - acc: 0.8616 - val_loss: 0.3334 - val_acc: 0.8600
Epoch 77/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3316 - acc: 0.8654 - val_loss: 0.3324 - val_acc: 0.8655
Epoch 78/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3317 - acc: 0.8632 - val_loss: 0.3361 - val_acc: 0.8625
Epoch 79/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3313 - acc: 0.8641 - val_loss: 0.3347 - val_acc: 0.8615
Epoch 80/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.3319 - acc: 0.8620 - val_loss: 0.3296 - val_acc: 0.8650
Epoch 81/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3314 - acc: 0.8632 - val_loss: 0.3340 - val_acc: 0.8635
Epoch 82/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.3311 - acc: 0.8649 - val_loss: 0.3292 - val_acc: 0.8660
Epoch 83/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3316 - acc: 0.8637 - val_loss: 0.3327 - val_acc: 0.8660
Epoch 84/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3310 - acc: 0.8634 - val_loss: 0.3316 - val_acc: 0.8655
Epoch 85/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3312 - acc: 0.8629 - val_loss: 0.3312 - val_acc: 0.8670
Epoch 86/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3309 - acc: 0.8632 - val_loss: 0.3308 - val_acc: 0.8625
Epoch 87/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3308 - acc: 0.8636 - val_loss: 0.3308 - val_acc: 0.8640
Epoch 88/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3305 - acc: 0.8659 - val_loss: 0.3330 - val_acc: 0.8625
Epoch 89/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3313 - acc: 0.8641 - val_loss: 0.3318 - val_acc: 0.8630
Epoch 90/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3311 - acc: 0.8641 - val_loss: 0.3335 - val_acc: 0.8640
Epoch 91/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3309 - acc: 0.8641 - val_loss: 0.3358 - val_acc: 0.8635
Epoch 92/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3306 - acc: 0.8641 - val_loss: 0.3323 - val_acc: 0.8615
Epoch 93/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3307 - acc: 0.8657 - val_loss: 0.3310 - val_acc: 0.8660
Epoch 94/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3310 - acc: 0.8635 - val_loss: 0.3306 - val_acc: 0.8635
Epoch 95/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3305 - acc: 0.8637 - val_loss: 0.3310 - val_acc: 0.8675
Epoch 96/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3310 - acc: 0.8632 - val_loss: 0.3304 - val_acc: 0.8665
Epoch 97/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3302 - acc: 0.8636 - val_loss: 0.3379 - val_acc: 0.8630
Epoch 98/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3308 - acc: 0.8632 - val_loss: 0.3361 - val_acc: 0.8605
Epoch 99/100
8000/8000 [==============================] - 1s 158us/step - loss: 0.3304 - acc: 0.8645 - val_loss: 0.3325 - val_acc: 0.8665
Epoch 100/100
8000/8000 [==============================] - 1s 158us/step - loss: 0.3305 - acc: 0.8646 - val_loss: 0.3319 - val_acc: 0.8615

In [26]:
y_pred = classifier.predict(X_train)

In [27]:
y_pred

array([[0.03557774],
       [0.53862816],
       [0.09991563],
       ...,
       [0.06367507],
       [0.03592912],
       [0.78682226]], dtype=float32)

In [28]:
y_pred = (y_pred > 0.5)

In [29]:
y_pred

array([[False],
       [ True],
       [False],
       ...,
       [False],
       [False],
       [ True]])

In [30]:
new_customer = sc.transform(np.array([[0.0,0,600,1,40,3,60000,2,1,1,50000]]))
new_prediction = classifier.predict(new_customer)

In [31]:
new_prediction

array([[0.0350848]], dtype=float32)

In [32]:
new_prediction = (new_prediction > 0.5)

In [33]:
new_prediction

array([[False]])

In [34]:
# Customer 1 data 
new_customer = sc.transform(np.array([[0.0,0,540,1,50,4,10500,2,0,1,50000]]))

In [35]:
# Customer 1 result
new_prediction

array([[False]])

In [36]:
# Customer 2 data 
new_customer = sc.transform(np.array([[0.0,2,700,0,25,8,250000,4,1,1,125000]]))

In [37]:
# Customer 2 result
new_prediction

array([[False]])

In [38]:
# Customer 3 data
new_customer = sc.transform(np.array([[0.0, 1, 325, 1, 60, 3, 20000, 3, 0, 0, 30000]]))

In [39]:
# Customer 3 result
new_prediction

array([[False]])

In [40]:
cm = confusion_matrix(y_test, y_pred)

NameError: name 'confusion_matrix' is not defined

In [41]:
# Part 4

In [42]:
overall_accuracy = (cm[0,0] + cm[1,1])/cm.sum()

NameError: name 'cm' is not defined

In [43]:
from sklearn.metrics import confusion_matrix

In [47]:
cm = confusion_matrix(y_test, y_pred)

ValueError: Found input variables with inconsistent numbers of samples: [2000, 8000]

In [45]:
overall_accuracy = (cm[0,0] + cm[1,1])/cm.sum()s

SyntaxError: invalid syntax (<ipython-input-45-7a040cce1a19>, line 1)

In [48]:
dataset.shape

(10000, 14)